.c-cart-menu
            .c-cart-menu-title
              p.c-cart-menu-float-l.c-font-sbold 2 item(s)
              p.c-cart-menu-float-r.c-theme-font.c-font-sbold $79.00
            //
              ul.c-cart-menu-items
                li
                  .c-cart-menu-close
                    a.c-theme-link(href='#') ×
                  img(src='assets/base/img/content/shop2/24.jpg')
                  .c-cart-menu-content
                    p
                      | 1 x
                      span.c-item-price.c-theme-font $30
                    a.c-item-name.c-font-sbold(href='shop-product-details-2.html') Winter Coat
                li
                  .c-cart-menu-close
                    a.c-theme-link(href='#') ×
                  img(src='assets/base/img/content/shop2/12.jpg')
                  .c-cart-menu-content
                    p
                      | 1 x
                      span.c-item-price.c-theme-font $30
                    a.c-item-name.c-font-sbold(href='shop-product-details.html') Sports Wear
              .c-cart-menu-footer
                a.btn.btn-md.c-btn.c-btn-square.c-btn-grey-3.c-font-white.c-font-bold.c-center.c-font-uppercase(href='shop-cart.html') View Cart
                a.btn.btn-md.c-btn.c-btn-square.c-theme-btn.c-font-white.c-font-bold.c-center.c-font-uppercase(href='shop-checkout.html') Checkout