footer.c-layout-footer.c-layout-footer-7
      .container
        .c-prefooter
          
          .c-foot
            .row
              .col-md-4.col-sm-6.col-xs-12
                .c-content-title-1.c-title-md
                  h3.c-title.c-font-uppercase.c-font-bold
                    | Nosotros
                  .c-line-left.hide
                p.c-text.c-font-16.c-font-regular
                  | Butterfly Coporation S.A.C. es una empresa importadora y distribuidora de productos para el cuidado de la piel y el cabello. Efrecemos productos de primera calidad que son líderes a nivel internacional.
              .col-md-5.col-sm-6.col-xs-12
                .c-content-title-1.c-title-md
                  h3.c-title.c-font-uppercase.c-font-bold Contacto
                  .c-line-left.hide
                p.c-address.c-font-16.c-font-regular
                  span.c-font-grey Dirección: 
                  | Calle Alberto del Campo 286
                  br
                  |  San Isidro, Lima
                  br
                  |  Lima - Perú
                  br
                  br
                  span.c-font-grey Teléfono: 
                  |  264-3858 / 264-3217
                  br
                  br
                  span.c-font-grey Correo: 
                  a(href='mailto:info@butterflycorpsac.com')
                    span.c-theme-color info@butterflycorpsac.com
                  br
                  |  Skype:
                  a(href='#')
                    span.c-theme-color butterflycorpsac
                .c-line-left.hide                
              .col-md-3.col-sm-12.col-xs-12
                .c-content-title-1.c-title-md
                  h3.c-title.c-font-uppercase.c-font-bold Social
                  .c-line-left.hide
                .col-md-12.col-sm-12
                  .c-head
                    .c-left
                      .socicon
                        a.socicon-btn.socicon-btn-circle.socicon-solid.c-font-dark-1.c-theme-on-hover.socicon-facebook.tooltips(href='#', data-original-title='Facebook', data-container='body')
                        a.socicon-btn.socicon-btn-circle.socicon-solid.c-font-dark-1.c-theme-on-hover.socicon-twitter.tooltips(href='#', data-original-title='Twitter', data-container='body')
                        a.socicon-btn.socicon-btn-circle.socicon-solid.c-font-dark-1.c-theme-on-hover.socicon-youtube.tooltips(href='#', data-original-title='Youtube', data-container='body')
                        a.socicon-btn.socicon-btn-circle.socicon-solid.c-font-dark-1.c-theme-on-hover.socicon-tumblr.tooltips(href='#', data-original-title='Tumblr', data-container='body')

          
      .c-postfooter.c-bg-dark-2
        .container
          .row
            .col-md-6.col-sm-12.c-col
              p.c-copyright.c-font-grey
                | 2017 © BUTTERFLY 
                span.c-font-grey-3 Todos los derechos reservados.
            .col-md-6.col-sm-12.c-col
              ul.list-unstyled.list-inline.pull-right
                li
                  img.img-responsive(src='assets/base/img/content/payments/light/1.png', width='60')
                li
                  img.img-responsive(src='assets/base/img/content/payments/light/2.png', width='60')
                li
                  img.img-responsive(src='assets/base/img/content/payments/light/22.png', width='60')
                li
                  img.img-responsive(src='assets/base/img/content/payments/light/5.png', width='60')
                li
                  img.img-responsive(src='assets/base/img/content/payments/light/6.png', width='60')