.container
          // BEGIN: INLINE NAV
          nav.c-top-menu.c-pull-left
            ul.c-icons.c-theme-ul
              li
                a(href='#')
                  i.icon-social-twitter
              li
                a(href='#')
                  i.icon-social-facebook
              li
                a(href='#')
                  i.icon-social-dribbble
              li.hide
                span Telefono: 264-3858 / 264-3217
          // END: INLINE NAV
          // BEGIN: INLINE NAV
          nav.c-top-menu.c-pull-right
            ul.c-links.c-theme-ul
              li
                a(href='/help') Ayuda
              li.c-divider |
              li
                a(href='/contactus') Contactos
              li.c-divider |
              li
                a(href='/faq') FAQ
            ul.c-ext.c-theme-ul
              li.c-lang.dropdown.c-last
                a(href='#') es
                
              li.c-search.hide
                // BEGIN: QUICK SEARCH
                form(action='#')
                  input.form-control(type='text', name='query', placeholder='search...', value='', autocomplete='off')
                  i.fa.fa-search
                // END: QUICK SEARCH
          // END: INLINE NAV